.container {
  max-width: 480px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;

  @include mq(tablet) {
    max-width: 768px;
    padding-left: 40px;
    padding-right: 40px;
  }

  @include mq(desktop) {
    max-width: 1366px;
    padding-left: 26px;
    padding-right: 26px;
  }
}
