<section class="container advantages__container">
  <h2 class="visually-hidden">Advantages</h2>
  <ul class="advantages__list grid">
    <li class="advantages__item grid-item">
      <div class="icon-frame">
        <svg class="advantages__icon" width="48" height="48">
          <use href="./images/icons.svg#advantages-icon-1"></use>
        </svg>
      </div>
      <h3 class="advantages__title">Adapted author's UPE program</h3>
    </li>
    <li class="advantages__item grid-item">
      <svg class="advantages__icon">
        <use href="./images/icons.svg#advantages-icon-2" width="48" height="48"></use>
      </svg>
      <h3 class="advantages__title">Modern teaching methods</h3>
    </li>
    <li class="advantages__item grid-item">
      <div class="icon-frame">
        <svg class="advantages__icon">
          <use href="./images/icons.svg#advantages-icon-3" width="48" height="48"></use>
        </svg>
      </div>
      <h3 class="advantages__title">Financial guarantee the result</h3>
    </li>
  </ul>
</section>
