<section class="container advantages__container">
  <h2 class="visually-hidden">Advantages</h2>
  <ul class="advantages_list grid">
    <li class="advantages__item grid-item">
      <div class="icon-frame">
        <svg class="advantages__icon">
          <use href=""></use>
        </svg>
      </div>
      <h3 class="advantages__title">Adapted author's UPE program</h3>
    </li>
    <li class="advantages__item grid-item">
      <div class="icon-frame">
        <svg class="advantages__icon">
          <use href=""></use>
        </svg>
      </div>
      <h3 class="advantages__title">Modern teaching methods</h3>
    </li>
    <li class="advantages__item grid-item">
      <div class="icon-frame">
        <svg class="advantages__icon">
          <use href=""></use>
        </svg>
      </div>
      <h3 class="advantages__title">Financial guarantee the result</h3>
    </li>
  </ul>
</section>
