<section class="contact">
  <div class="container">
    <ul class="contact__list">
      <li class="contact__item">
        <p class="contact__first-text">
          Registration for a <span class="orange">free</span> phone <br />
          <span class="orange">consultation</span> on the nuances of English UPE
        </p>
        <p class="contact__secondary-text">
          Leave a request for participation in a
          <span class="orange"> free lesson</span>.<br />
          A consultant will contact you and answer your questions
        </p>
      </li>
      <li class="contact__item">
        <form class="contact__first-form">
          <input class="contact__first-input" type="name" name="name" placeholder="Name*" />
        </form>
        <form class="contact__secondary-form">
          <input class="contact__secondary-input" type="phone" name="phone" placeholder="Phone*" />
        </form>
        <button class="contact__button">i want a free lesson</button>
      </li>
    </ul>
  </div>
</section>
