<footer class="section-footer">
    <div class="container container-footer">

        <!-- logo -->
<div class="footer__logo">
    <a href="./index.html">
        <div class="footer__logo-text">Hell
            <svg class="footer__logo-icon" width="14" height="19">
            <use href="./images/icons.svg#logo-icon"></use>
            </svg>EN</div>
        <div class="footer__logo-text-under">
            <span class="footer__logo-text-under-color">Hellish</span> english</div>
    </a>
</div>

    <!--phone-->

    <address class="footer__tel">
        <ul class="footer__contacts">
            <li class="footer__contacts-list">
                <a class="footer__call" href="tel:+380000000000">
                    <svg class="footer__phone-icon" width="20" height="19">
                        <use href="./images/icons.svg#icon-phone"></use>
                      </svg>+38 (000) 000 00 00
                </a>
            </li>
            <li class="footer__contacts-list">
                <a href="https://instagram.com/"
                    target="_blank"
                    rel="noreferrer noopener"
                    aria-label="Instagram icon"
                    class="footer__contact__social__icon"
                >
                <img src="./images/instagram.png" alt="Instagram" width="40">
                </a>
            </li>
        </ul>
    </address>
      </div>

      <div class="container container__rights">
          <p class="container__rights-text">@ All rights reserved, 2019</p>
      </div>
</footer>