<footer class="footer">
  <div class="container footer__container">
    <a class="footer__logo" href="./index.html">
      <div class="footer-logo__title">
        Hell<svg class="footer-logo__icon" width="22" height="30">
          <use href="./images/icons.svg#logo-icon"></use></svg
        >EN
      </div>
      <div class="footer-logo__description">
        <span class="footer-logo__description--accent">hellish</span>english
      </div>
    </a>
    <div class="footer__contacts">
      <a class="footer-contact__link" href="tel:+380000000000">
        <svg class="footer-contact__icon" width="30" height="29">
          <use href="./images/icons.svg#icon-phone"></use>
        </svg>
        <span class="footer-contact__number">+38(000)000 00 00</span>
      </a>
    </div>
    <a
      href="https://instagram.com/"
      target="_blank"
      rel="noreferrer noopener"
      aria-label="Instagram icon"
      class="footer-social__link"
    ></a>
  </div>

  <div class="container__rights">
    <div class="container">
      <span class="container__rights-text">@ All rights reserved, 2019</span>
    </div>
  </div>
</footer>
