<footer class="footer">
  <div class="container footer__container">
    <!-- logo -->

    <a class="footer__logo" href="./index.html">
      <div class="footer-logo__title">
        Hell
        <svg class="footer-logo__icon" width="14" height="19">
          <use href="./images/icons.svg#logo-icon"></use></svg
        >EN
      </div>
      <div class="footer-logo__description">
        <span class="footer-logo__description--accent">Hellish</span> english
      </div>
    </a>

    <!--phone-->
    <div class="footer__contacts">
      <a class="footer-contact__link" href="tel:+380000000000">
        <svg class="footer__phone-icon" width="20" height="19">
          <use href="./images/icons.svg#icon-phone"></use></svg
        ><span class="footer-contact__number">+38 (000) 000 00 00</span>
      </a>
    </div>
    <a
      href="https://instagram.com/"
      target="_blank"
      rel="noreferrer noopener"
      aria-label="Instagram icon"
      class="footer-social__link"
    >
      <!-- <img src="./images/instagram.png" alt="Instagram" width="40" /> -->
      <!-- <picture>
                    <source srcset="./images/instagram.png 1x, ./images/instagram.png@2x.png 2x" />
                    <img
                        class="footercontactssocial-link__icon"
                        src="./images/instagram.png"
                        alt="Instagram icon"
                        width="40"
                        height="40"
                        loading="lazy"/>
                </picture> -->
    </a>
  </div>

  <div class="container__rights">
    <div class="container">
      <span class="container__rights-text">@ All rights reserved, 2019</span>
    </div>
  </div>
</footer>
