  <header class="header">

  <div class="container header__container">
    <!-- logo -->
    <a class="logo" href="./index.html" data-logo>
      <div class="logo__title is-open">
						Hell<svg class="logo__icon" width="22" height="30">
							<use href="./images/icons.svg#logo-icon"></use></svg
						>EN
					</div>
					<div class="logo__description">
						<span class="logo__description--accent">hellish</span>english
					</div>
    </a>
    <div class="header__menu" data-menu-mobile>
      <nav class="navigation" data-menu-tablet>
        <ul class="navigation__list grid">
          <li class="navigation__item">
            <a class="navigation__link" href="#program">Studying programm</a>
          </li>
          <li class="navigation__item">
             <a class="navigation__link" href="#about">About</a>
          </li>
          <li class="navigation__item">
             <a class="navigation__link" href="#training-options">Training options</a>
          </li>
          <li class="navigation__item">
             <a class="navigation__link" href="#contacts">Contacts</a>
          </li>
        </ul>
      </nav>
      <button class="header__button button--overlay" type="button" data-modal-open>consultation by phone</button>
    </div>
  <button class="menu-button"  type="button" data-menu-button aria-expanded="false">
    <svg class="menu-button__icon" width="20" height="15">
      <use class="menu-button__icon--menu" href="./images/icons.svg#icon-menu"></use>
       <use  class="menu-button__icon--close" href="./images/icons.svg#icon-menu-close"></use>
    </svg>
  </button>
</header>

