<section class="hero-section">
  <div class="container hero__container">
    <!-- <div class="hero__bg-group">
      <svg class="hero__background" width="768" height="618">
        <use href="./images/icons.svg#hero-bg-wave"></use>
      </svg>
    </div> -->
    <div class="hero__description">
      <h1 class="hero__title">Complex preparation for English UPE</h1>
      <p class="hero__subtitle">It won’t be easy.</p>
      <p class="hero__text">
        But you’re guaranteed to get &nbsp;
        <span class="hero__text--accent"> +25 points</span>
      </p>

      <a class="hero__button" href="#form" data-modal-open>I want a free lesson</a>
    </div>
    <div class="hero__image-group">
      <picture>
        <source
          srcset="./images/hero/hero_lg.png 1x, ./images/hero/hero@2x_lg.png 2x"
          media="(min-width: 1366px)"
        />

        <source
          srcset="./images/hero/hero_md.png 1x, ./images/hero/hero@2x_md.png 2x"
          media="(min-width: 768px)"
        />

        <source
          srcset="./images/hero/hero_sm.png 1x, ./images/hero/hero@2x_sm.png 2x"
          media="(max-width: 767px)"
        />
        <img
          class="hero__img"
          src="./images/hero/hero_sm.png"
          alt="Studying process"
          width="208"
          height="178"
          loading="lazy"
        />
      </picture>
    </div>
  </div>
</section>
