<!-- <section class="how-we">
  <div class="container">
    <h2 class="how-we__tittle">How do we do it</h2>
    <ul class="how-we__list">
      <li class="how-we__item">
        <a class="how-we__link">
          <div class="how-we__box">
            <svg class="how-we__icon" width="45" height="48">
              <use href="./images/icons.svg#icon-1"></use>
            </svg>
          </div>
          <div class="how-we__second-box">
            <h3 class="how-we__cards-tittle">Adapted program <br />preparation for UPE</h3>
            <p class="how-we__text line">
              You will learn grammar and vocabulary at the same time. And you will learn how to
              write essays.
            </p>
          </div>
        </a>
      </li>

      <li class="how-we__item">
        <a class="how-we__link">
          <div class="how-we__box">
            <svg class="how-we__icon" width="45" height="48">
              <use href="./images/icons.svg#icon-2"></use>
            </svg>
          </div>
          <div class="how-we__second-box">
            <h3 class="how-we__cards-tittle">Adapted program <br />preparation for UPE</h3>
            <p class="how-we__text line">
              You will learn grammar and vocabulary at the same time. And you will learn how to
              write essays.
            </p>
          </div>
        </a>
      </li>
      <li class="how-we__item">
        <a class="how-we__link">
          <div class="how-we__box">
            <svg class="how-we__icon" width="45" height="48">
              <use href="./images/icons.svg#icon-3"></use>
            </svg>
          </div>
          <div class="how-we__second-box">
            <h3 class="how-we__cards-tittle">Adapted program <br />preparation for UPE</h3>
            <p class="how-we__text line">
              You will learn grammar and vocabulary at the same time. And you will learn how to
              write essays.
            </p>
          </div>
        </a>
      </li>
      <li class="how-we__item">
        <a class="how-we__link">
          <div class="how-we__box">
            <svg class="how-we__icon" width="45" height="48">
              <use href="./images/icons.svg#icon-4"></use>
            </svg>
          </div>
          <div class="how-we__second-box">
            <h3 class="how-we__cards-tittle">Adapted program <br />preparation for UPE</h3>
            <p class="how-we__text line">
              You will learn grammar and vocabulary at the same time. And you will learn how to
              write essays.
            </p>
          </div>
        </a>
      </li>
    </ul>
  </div>
</section> -->
