<div class="back-drop is-hidden" data-modal>
  <div class="modal">
    <button class="modal__close-btn" type="button" data-modal-close>
      <svg class="modal__close-icon" width="18" height="18" aria-label="Закрыть">
        <use href="./images/icons.svg#modal-close-icon"></use>
      </svg>
    </button>
    <form class="modal-form">
      <b class="modal-form__title">Please leave your details, we will call you back</b>

      <div class="form-area">
        <label class="modal-form__label" for="name">Name </label>
        <input class="modal-form__input" type="text" name="name" placeholder=" " id="name" />
        <span class="modal-form__icon"
          ><svg width="18" height="18">
            <use href="./images/icons.svg#icon-person"></use></svg
        ></span>
      </div>
      <div class="form-area">
        <label class="modal-form__label" for="tel">Phone</label>
        <input class="modal-form__input" type="tel" name="tel" placeholder=" " id="tel" />
        <span class="modal-form__icon"
          ><svg width="18" height="18">
            <use href="./images/icons.svg#icon-modal-phone"></use></svg
        ></span>
      </div>
      <div class="form-area">
        <label class="modal-form__label" for="mail">Email</label>
        <input class="modal-form__input" type="email" name="mail" placeholder=" " id="mail" />
        <span class="modal-form__icon"
          ><svg width="18" height="18">
            <use href="./images/icons.svg#icon-email"></use></svg
        ></span>
      </div>

      <div class="form-area">
        <label class="modal-form__label" for="comments">Comments</label>
        <textarea
          class="modal-comments__field"
          name="feedback"
          rows="10"
          placeholder="Please enter your text"
          id="comments"
        ></textarea>
      </div>
      <label class="modal__agreement-label" for="agreement">
        <input
          class="modal-form__checkbox visually-hidden"
          type="checkbox"
          name="agreement-checkbox "
          value=""
          id="agreement"
        />
        <span class="modal__customized-checkbox"></span>
        <span class="form-link">
          I accept the terms and conditions of the
          <a
            class="modal-form__agreement-link"
            href="https://goit.ua/privacy-policy/"
            target="_blank"
            rel="noopener noreferrer"
            >Privacy Policy</a
          >
        </span>
      </label>
      <button type="submit" class="modal-form__btn">Отправить</button>
    </form>
  </div>
</div>
