<section class="problems">
  <div class="container">
    <!-- Заголовок -->
    <h2 class="problems__title">
      The main problems of students in&nbsp;English&nbsp;UPE, which<br />
      we&nbsp;<span class="problems__title--accent">help</span>&nbsp;to&nbsp;solve
    </h2>

    <!-- Список элементов -->

    <ol class="problems__list list">
      <li class="problems__item">
        <p class="problems__text">Grammar</p>
      </li>

      <li class="problems__item">
        <p class="problems__text">Inability to understand spoken English</p>
      </li>

      <li class="problems__item">
        <p class="problems__text">Stingy vocabulary for writing an essay</p>
      </li>

      <li class="problems__item">
        <p class="problems__text">Preparing alone</p>
      </li>

      <li class="problems__item">
        <p class="problems__text">Lack of a single knowledge&nbsp;resource</p>
      </li>

      <li class="problems__item">
        <p class="problems__text">Lack of self-organization and laziness</p>
      </li>
    </ol>
  </div>
</section>
