<section class="problems">
  <div class="conteiner">
    <!-- Заголовок -->
    <h2 class="problems__title">
      The main problems of students in&nbsp;English&nbsp;UPE, which<br />
      we&nbsp;<span class="problems__title--accent">help</span>&nbsp;to&nbsp;solve
    </h2>
<!-- 
    <svg class="problems__icon" width="469" height="621">
      <use href="./images/icons.svg#icon-problems"></use>
    </svg> -->

    <!-- Список элементов -->

    <ol class="problems__list">
      <li class="problems__item">
        <p class="problems__text">Grammar</p>
      </li>

      <li class="problems__item">
        <p class="problems__text">Inability to understand spoken English</p>
      </li>

      <li class="problems__item">
        <p class="problems__text">Stingy vocabulary for writing&nbsp;an&nbsp;essay</p>
      </li>

      <li class="problems__item">
        <p class="problems__text">Preparing alone</p>
      </li>

      <li class="problems__item">
        <p class="problems__text">Lack of a single knowledge&nbsp;resource&nbsp;</p>
      </li>

      <li class="problems__item">
        <p class="problems__text">Lack of self-organization and laziness</p>
      </li>
    </ol>
  </div>
</section>
