<section class="problems">
    <div class="conteiner">
        <h2 class="problems__title">The main problems of students in English UPE, whichwe <span class="accent">help</span> to solve</h2>

        <ul class="problems__list">

            <li class="problems__item">
                <p class="problems__text"><span class="accent">— 01</span>Grammar </p>
            </li>

            <li class="problems__item">
                <p class="problems__text"><span class="accent">— 02</span>Inability to understand spoken English </p>
            </li>

            <li class="problems__item">
                <p class="problems__text"><span class="accent">— 03</span>Stingy vocabulary for writing an essay</p>
            </li>

            <li class="problems__item">
                <p class="problems__text"><span class="accent">— 04</span>Preparing alone</p>
            </li>

            <li class="problems__item">
                <p class="problems__text"><span class="accent">— 05</span>Lack of a single knowledge resource</p>
            </li>

            <li class="problems__item">
                <p class="problems__text"><span class="accent">— 06</span>Lack of self-organization and laziness</p>
            </li>

        </ul>
        </div>

        </section>
