<section class="program">
  <h2 class="program__title">Our program</h2>
  <ul class="program-content">
    <ul class="program-content__list">
      <li class="program-content__item main">
        <p class="program-content__text-title">1 semester</p>
      </li>
      <li class="program-content__item line">
        <p class="program-content__text-descr">Grammar</p>
      </li>
      <li class="program-content__item text">
        <p class="program-content__text">
          Nouns & Articles<br />
          Adjectives & Adverb
        </p>
      </li>
      <li class="program-content__item line">
        <p class="program-content__text-descr">Vocabulary</p>
      </li>
      <li class="program-content__item">
        <p class="program-content__text">
          Family & Relations<br />
          People & Society
        </p>
      </li>
    </ul>
    <ul class="program-content__list">
      <li class="program-content__item main">
        <p class="program-content__text-title">2 semester</p>
      </li>
      <li class="program-content__item line">
        <p class="program-content__text-descr">Grammar</p>
      </li>
      <li class="program-content__item text">
        <p class="program-content__text">
          Pronouns<br />
          Active Voice<br />
          Passive Voice
        </p>
      </li>
      <li class="program-content__item line">
        <p class="program-content__text-descr">Vocabulary</p>
      </li>
      <li class="program-content__item">
        <p class="program-content__text">
          Home<br />
          School<br />
          Work
        </p>
      </li>
    </ul>
    <ul class="program-content__list">
      <li class="program-content__item main">
        <p class="program-content__text-title">3 semester</p>
      </li>
      <li class="program-content__item line">
        <p class="program-content__text-descr">Grammar</p>
      </li>
      <li class="program-content__item text">
        <p class="program-content__text">
          Modal verbs<br />
          Infinitive<br />
          Gerund<br />
          Participle: 1, 2
        </p>
      </li>
      <li class="program-content__item line">
        <p class="program-content__text-descr">Vocabulary</p>
      </li>
      <li class="program-content__item">
        <p class="program-content__text">
          Travel & Tourism<br />
          Culture & Free Time<br />
          Sport
        </p>
      </li>
      <li class="program-content__item line">
        <p class="program-content__text-descr">Writing</p>
      </li>
      <li class="program-content__item">
        <p class="program-content__text">Informal Letter</p>
      </li>
    </ul>
    <ul class="program-content__list">
      <li class="program-content__item main">
        <p class="program-content__text-title">4 semester</p>
      </li>
      <li class="program-content__item line">
        <p class="program-content__text-descr">Grammar</p>
      </li>
      <li class="program-content__item text">
        <p class="program-content__text">
          Clauses: Conditional and<br />
          Wishes<br />
          Direct / Reported speech<br />
          Preposition<br />
          Conjunction<br />
          Numeral
        </p>
      </li>
      <li class="program-content__item line">
        <p class="program-content__text-descr">Vocabulary</p>
      </li>
      <li class="program-content__item">
        <p class="program-content__text">
          Healthy Living<br />
          Nature & Environment<br />
          Money
        </p>
      </li>
      <li class="program-content__item line">
        <p class="program-content__text-descr">Writing</p>
      </li>
      <li class="program-content__item">
        <p class="program-content__text">Formal Letter</p>
      </li>
    </ul>
    <ul class="program-content__list">
      <li class="program-content__item main">
        <p class="program-content__text-title">5 semester</p>
      </li>
      <li class="program-content__item line">
        <p class="program-content__text-descr hide">Grammar</p>
      </li>
      <li class="program-content__item text">
        <p class="program-content__text">
          Revision<br />
          Tests
        </p>
      </li>
    </ul>
  </ul>
</section>
