<section class="program">
  <div class="container">
    <h2 class="program-title">Our program</h2>
    <div class="program-box">
      <h3 class="program-box__title">1 semester</h3>
      <ul class="program-box-list">
        <li class="program-box-list__item-main">
          <p class="program-box-list__text-main">Grammar</p>
        </li>
        <li class="program-box-list__item">
          <p class="program-box-list__text">
            Nouns & Articles<br />
            Adjectives & Adverb
          </p>
        </li>
        <li class="program-box-list__item-main">
          <p class="program-box-list__text-main">Vocabulary</p>
        </li>
        <li class="program-box-list__item">
          <p class="program-box-list__text">
            Family & Relations<br />
            People & Society
          </p>
        </li>
      </ul>
      <h3 class="program-box__title">2 semester</h3>
      <ul class="program-box-list">
        <li class="program-box-list__item-main">
          <p class="program-box-list__text-main">Grammar</p>
        </li>
        <li class="program-box-list__item">
          <p class="program-box-list__text">
            Pronouns<br />
            Active Voice<br />
            Passive Voice
          </p>
        </li>
        <li class="program-box-list__item-main">
          <p class="program-box-list__text-main">Vocabulary</p>
        </li>
        <li class="program-box-list__item">
          <p class="program-box-list__text">
            Home<br />
            School<br />
            Work
          </p>
        </li>
      </ul>
      <h3 class="program-box__title">3 semester</h3>
      <ul class="program-box-list">
        <li class="program-box-list__item-main">
          <p class="program-box-list__text-main">Grammar</p>
        </li>
        <li class="program-box-list__item">
          <p class="program-box-list__text">
            Modal verbs<br />
            Infinitive<br />
            Gerund<br />
            Participle: 1, 2
          </p>
        </li>
        <li class="program-box-list__item-main">
          <p class="program-box-list__text-main">Vocabulary</p>
        </li>
        <li class="program-box-list__item">
          <p class="program-box-list__text">
            Travel & Tourism<br />
            Culture & Free Time<br />
            Sport
          </p>
        </li>
        <li class="program-box-list__item-main">
          <p class="program-box-list__text-main">Writing</p>
        </li>
        <li class="program-box-list__item">
          <p class="program-box-list__text">Informal Letter</p>
        </li>
      </ul>
      <h3 class="program-box__title">4 semester</h3>
      <ul class="program-box-list">
        <li class="program-box-list__item-main">
          <p class="program-box-list__text-main">Grammar</p>
        </li>
        <li class="program-box-list__item">
          <p class="program-box-list__text">
            Clauses: Conditional and<br />
            Wishes<br />
            Direct / Reported speech<br />
            Preposition<br />
            Conjunction<br />
            Numeral
          </p>
        </li>
        <li class="program-box-list__item-main">
          <p class="program-box-list__text-main">Vocabulary</p>
        </li>
        <li class="program-box-list__item">
          <p class="program-box-list__text">
            Healthy Living<br />
            Nature & Environment<br />
            Money
          </p>
        </li>
        <li class="program-box-list__item-main">
          <p class="program-box-list__text-main">Writing</p>
        </li>
        <li class="program-box-list__item">
          <p class="program-box-list__text">Formal Letter</p>
        </li>
      </ul>
      <h3 class="program-box__title">5 semester</h3>
      <ul class="program-box-list">
        <li class="program-box-list__item-main">
          <p class="program-box-list__text-main hidden">Hidden</p>
        </li>
        <li class="program-box-list__item">
          <p class="program-box-list__text">
            Revision<br />
            Tests
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>
