<section class="program">
  <div class="container">
    <h2 class="program-title">Our program</h2>
    <div class="program-box">
      <h3 class="program-box__title">1 semester</h3>
      <div class="collum">
        <ul class="collum-list">
          <li class="collum-list__item-main">
            <p class="collum-list__text-main">Grammar</p>
          </li>
          <li class="collum-list__item">
            <p class="collum-list__text">
              Nouns & Articles<br />
              Adjectives & Adverb
            </p>
          </li>
        </ul>
        <ul class="collum-list">
          <li class="collum-list__item-main">
            <p class="collum-list__text-main">Vocabulary</p>
          </li>
          <li class="collum-list__item last">
            <p class="collum-list__text">
              Family & Relations<br />
              People & Society
            </p>
          </li>
        </ul>
      </div>
      <h3 class="program-box__title">2 semester</h3>
      <div class="collum">
        <ul class="collum-list">
          <li class="collum-list__item-main">
            <p class="collum-list__text-main">Grammar</p>
          </li>
          <li class="collum-list__item">
            <p class="collum-list__text">
              Pronouns<br />
              Active Voice<br />
              Passive Voice
            </p>
          </li>
        </ul>
        <ul class="collum-list">
          <li class="collum-list__item-main">
            <p class="collum-list__text-main">Vocabulary</p>
          </li>
          <li class="collum-list__item last">
            <p class="collum-list__text">
              Home<br />
              School<br />
              Work
            </p>
          </li>
        </ul>
      </div>
      <h3 class="program-box__title">3 semester</h3>
      <div class="collum">
        <ul class="collum-list">
          <li class="collum-list__item-main">
            <p class="collum-list__text-main">Grammar</p>
          </li>
          <li class="collum-list__item">
            <p class="collum-list__text">
              Modal verbs<br />
              Infinitive<br />
              Gerund<br />
              Participle: 1, 2
            </p>
          </li>
        </ul>
        <ul class="collum-list">
          <li class="collum-list__item-main">
            <p class="collum-list__text-main">Vocabulary</p>
          </li>
          <li class="collum-list__item">
            <p class="collum-list__text">
              Travel & Tourism<br />
              Culture & Free Time<br />
              Sport
            </p>
          </li>
        </ul>
        <ul class="collum-list">
          <li class="collum-list__item-main">
            <p class="collum-list__text-main">Writing</p>
          </li>
          <li class="collum-list__item last">
            <p class="collum-list__text">Informal Letter</p>
          </li>
        </ul>
      </div>
      <h3 class="program-box__title">4 semester</h3>
      <div class="collum">
        <ul class="collum-list">
          <li class="collum-list__item-main">
            <p class="collum-list__text-main">Grammar</p>
          </li>
          <li class="collum-list__item">
            <p class="collum-list__text">
              Clauses: Conditional and<br />
              Wishes<br />
              Direct / Reported speech<br />
              Preposition<br />
              Conjunction<br />
              Numeral
            </p>
          </li>
        </ul>
        <ul class="collum-list">
          <li class="collum-list__item-main">
            <p class="collum-list__text-main">Vocabulary</p>
          </li>
          <li class="collum-list__item">
            <p class="collum-list__text">
              Healthy Living<br />
              Nature & Environment<br />
              Money
            </p>
          </li>
        </ul>
        <ul class="collum-list">
          <li class="collum-list__item-main">
            <p class="collum-list__text-main">Writing</p>
          </li>
          <li class="collum-list__item last">
            <p class="collum-list__text">Formal Letter</p>
          </li>
        </ul>
      </div>
      <h3 class="program-box__title">5 semester</h3>
      <div class="collum">
        <ul class="collum-list">
          <li class="collum-list__item-main">
            <p class="collum-list__text-main hidden">Hidden</p>
          </li>
          <li class="collum-list__item last">
            <p class="collum-list__text">
              Revision<br />
              Tests
            </p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
