.about {
  padding-left: 21px;
  padding-right: 20px;
  background: var(--title-color-black);
  padding-top: 270px;
  padding-bottom: 111px;
}

.about__title {
  font-weight: 800;
  font-size: 20px;
  line-height: 26px;
  letter-spacing: 0.03em;
  color: var(--title-color);
  text-align: left;
  margin-bottom: 20px;
}

.about__photo {
  margin-bottom: 20px;
}

.about-teacher__name {
  font-weight: 800;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.08em;
  color: var(--title-color);
  &::after {
    content: '';
    display: inline-block;
    width: 100%;
    height: 1px;
    background-color: #b9b9b9;
  }
}

.about-teacher__experience {
  align-items: flex-end;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.06em;
  color: var(--title-color);
  padding-left: 47px;
  margin-top: 20px;
  margin-bottom: 20px;
  &::after {
    content: '____';
    width: 82px;
    background-color: transparent;
    color: var(--accent-color);
    font-weight: 700;
    font-size: 20px;
    line-height: 1.65;
    letter-spacing: 0;
    margin-left: -47px;
  }
}

.about-teacher__experience__iteam {
  margin-bottom: 20px;
  text-align: start;

  &::before {
    content: '';
    display: flex;

    width: 17px;
    height: 14px;
    background-image: url(../images/icons.svg#icon-done);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    outline: 1px solid red;
    margin-right: 9px;
    margin-left: -47px;
    margin-bottom: -17px;
  }
}

.about-teacher__experience__text {
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
  margin-bottom: 10px;
}

.about-certificate {
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
  text-decoration-line: underline;
  color: var(--accent-color);
  margin-top: 10px;
}
