.advantages__container {
  margin-top: 45px;
  margin-bottom: 45px;
  @include mq(desktop) {
    margin-top: 100px;
    margin-bottom: 130px;
  }
  @include mq(mobile-only) {
    padding-left: 52px;
    padding-right: 52px;
  }
}
.advantages__list {
  display: flex;
  flex-direction: column;
  @include mq(tablet) {
    flex-direction: row;
    align-items: center;
  }
}

.advantages__item {
  --items: 3;
  position: relative;
  display: flex;
  align-items: center;
}

.icon-frame {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 61px;
  height: 63px;
  margin-right: 15px;
  background-image: url(../images/rectangle2.png);
  @include mq(retina) {
    background-image: url(../images/rectangle2@2x.png);
  }
  background-size: contain;
  background-origin: border-box;
  @include mq(desktop) {
    width: 102px;
    height: 104px;
    background-image: url(../images/rectangle2.png);
    @include mq(retina) {
      background-image: url(../images/rectangle2@2x.png);
    }
  }
}

.advantages__icon {
  fill: var(--accent-color);
  @include mq(notDesktop) {
    transform: scale(0.85);
  }
}

.advantages__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.65;
  @include mq(desktop) {
    position: absolute;
    left: 84px;
    width: 300px;
    font-size: 20px;
  }
}
