/* Стили для секции */
.benefits {
  min-width: 320px;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(var(--title-color) 80%, var(--title-color-black) 20%);

  // padding-top: 25px;
  padding-left: 20px;
  padding-right: 20px;
}

// <!-- Заголовок -->
.benefits__title {
  font-weight: 800;
  font-size: 24px;
  line-height: 130%;
  letter-spacing: 0.03em;
  color: var(--title-color-black);

  margin-bottom: 30px;
}

// <!-- Список элементов -->
.benefits__list {
  list-style-type: none;
  counter-reset: benefits__item;

  min-width: 280px;
  width: 100%;
  height: 100%;
  background-color: var(--title-color-black);
  box-shadow: -5px 8px 26px rgba(0, 0, 0, 0.04);

  padding-top: 20px;
  padding-right: 14px;
  padding-bottom: 20px;
  padding-left: 30px;
}

.benefits__item:not(:last-child) {
  margin-bottom: 36px;
}

.benefits__item::before {
  content: '— 0' counter(benefits__item);
  counter-increment: benefits__item;

  font-weight: 700;
  font-size: 14px;
  line-height: 164.9%;
  letter-spacing: 0.08em;
  color: var(--accent-color);
}

.benefits__text {
  display: flex;
  align-items: center;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.4;
  letter-spacing: 0.08em;
  color: var(--secondary-bg-color);
}

.benefits__text:not(:first-child) {
  margin-top: 10px;
}
