.contact {
  padding-top: 55px;
  padding-bottom: 55px;

  background-color: #111518;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../images/contacts/form-bg_sm.png);

  @include mq(retina) {
    background-image: url(../images/contacts/form-bg@2x_sm.png);
  }

  @include mq(tablet) {
    padding-top: 66px;
    padding-bottom: 66px;
    background-image: url(../images/contacts/form-bg_md.png);
    @include mq(retina) {
      background-image: url(../images/contacts/form-bg@2x_md.png);
    }
  }

  @include mq(desktop) {
    padding-top: 100px;
    padding-bottom: 62px;
    background-image: url(../images/contacts/form-bg_lg.png);
    @include mq(retina) {
      background-image: url(../images/contacts/form-bg@2x_lg.png);
    }
  }
}

.contact__group {
  margin-bottom: 43px;
  max-width: 1090px;
  margin-left: auto;
  margin-right: auto;

  color: #ffffff;

  @include mq(tablet) {
    margin-bottom: 23px;
  }

  @include mq(desktop) {
    margin-bottom: 56px;
  }
}

.contact__first-text {
  margin-bottom: 24px;

  font-weight: 800;
  font-size: 16px;
  line-height: 1.28;
  letter-spacing: 0.03em;
  text-align: center;

  @include mq(tablet-only) {
    margin-bottom: 50px;

    font-size: 26px;
  }

  @include mq(desktop) {
    margin-bottom: 50px;

    font-size: 46px;
  }
}

.contact__secondary-text {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.25;
  letter-spacing: 0.08em;
  text-align: center;

  @include mq(notDesktop) {
    max-width: 452px;
    margin: 0 auto;
  }

  @include mq(desktop) {
    font-size: 30px;
  }
}

.accent-text {
  color: #ff6b09;
}

.contact__form-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;

  @include mq(tablet) {
    margin-bottom: 30px;
  }
  @include mq(desktop) {
    margin-bottom: 80px;
  }
}

.contact__form-input {
  padding: 15px 28px;
  width: 280px;

  font-weight: 600;
  font-size: 14px;
  line-height: 1.21;
  letter-spacing: 0.08em;
  color: #ffffff;

  border: 1px solid #ffffff;
  background-color: transparent;

  @include mq(tablet) {
    width: 390px;
  }

  @include mq(desktop) {
    padding: 23px 40px;
    width: 478px;

    font-size: 20px;
  }

  &:not(:last-of-type) {
    margin-bottom: 20px;

    @include mq(desktop) {
      margin-bottom: 30px;
    }
  }
}

.contact__form-input::placeholder {
  color: currentColor;
}

.contact__form-button {
  padding-top: 14px;
  padding-bottom: 14px;
  margin: 0 auto;
  display: block;
  width: 260px;
  min-height: 48px;

  font-weight: 700;
  font-size: 12px;
  line-height: 1.25;
  letter-spacing: 0.08em;
  text-transform: uppercase;

  color: #ffffff;
  background: #ff6b09;

  cursor: pointer;

  &:hover,
  &:focus {
    color: var(--accent-color);
    background-color: transparent;
    outline: 2px solid var(--accent-color);
    transition: background-color var(--duration) var(--cubic-bezier);
  }

  @include mq(desktop) {
    width: 354px;
    min-height: 70px;

    font-size: 14px;
  }
}
