.hero-section {
  padding-top: 50px;
  background-image: url(../images/hero/hero-wave_sm.png);
  background-repeat: no-repeat;
  background-size: 100% 618px;
  background-position: 0 -70px;

  padding-top: 22px;
  padding-bottom: 45px;

  @include mq(retina) {
    background-image: url(../images/hero/hero-wave@2x_sm.png);
  }

  @include mq(tablet) {
    padding-top: 53px;
    padding-bottom: 64px;
    background-image: url(../images/hero/hero-wave_md.png);
    background-size: 100% 556px;

    @include mq(retina) {
      background-image: url(../images/hero/hero-wave@2x_md.png);
    }
  }

  @include mq(desktop) {
    padding-top: 100px;
    background-image: url(../images/hero/hero-wave_lg.png);
    background-size: 100% 878px;

    @include mq(retina) {
      background-image: url(../images/hero/hero-wave@2x_md.png);
    }
  }
}

.hero__container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;

  @include mq(tablet) {
    padding-bottom: 138px;
    flex-direction: row;
  }

  @include mq(desktop) {
    padding-bottom: 250px;
    flex-direction: row;
  }
}

.hero__description {
  display: block;
  max-width: 280px;
  margin-bottom: 45px;

  @include mq(tablet) {
    max-width: 332px;
  }

  @include mq(desktop) {
    max-width: 642px;
  }
}

.hero__title {
  margin-bottom: 8px;

  font-weight: 800;
  font-size: 20px;
  line-height: 1.3;
  letter-spacing: 0.03em;
  color: var(--title-color);

  @include mq(tablet) {
    font-size: 26px;
  }

  @include mq(desktop) {
    font-size: 58px;
  }
}

.hero__subtitle {
  display: flex;
  flex-wrap: wrap;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.57;
  letter-spacing: 0.08em;

  color: var(--primay-text-color);

  @include mq(desktop) {
    font-size: 20px;
    line-height: 1.65;
  }
}

.hero__text {
  @extend.hero__subtitle;

  font-weight: 700;
  color: var(--title-color);
}

.hero__text--accent {
  @extend .hero__subtitle;
  font-weight: 700;
  color: var(--accent-color);

  // margin-bottom: 52px;
}

.hero__button {
  display: block;
  width: 260px;
  height: 48px;
  margin-top: 52px;
  margin-right: auto;
  text-align: center;

  padding-top: 14px;
  padding-bottom: 14px;

  background-color: var(--accent-color);
  color: var(--primary-bg-color);
  border: none;

  &:hover,
  &:focus {
    color: var(--accent-color);
    background-color: var(--primary-bg-color);
    outline: 2px solid var(--accent-color);
    transition: background-color var(--duration) var(--cubic-bezier);
  }
  // @include mq(tablet) {
  // }
}

.hero__image-group {
  width: 100%;
  height: 100%;
}

.hero__img {
  width: 208px;
  height: 178px;
  margin: auto;

  @include mq(tablet) {
    width: 376px;
    height: 320px;
    position: absolute;
    top: 0;
    right: 0;
  }

  @include mq(desktop) {
    width: 842px;
    height: 718px;
    top: -54px;
  }
}
