.hero {
  width: 100vw;
  padding-top: 52px;
  padding-bottom: 107px;

  background-image: url(../images/tablet/1x/hero-wave_md.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: -55px;
  @include mq(tablet) {
    padding-top: 88px;
  }
}

.hero__title {
  max-width: 280px;
  font-size: 20px;
  font-weight: 800;
  line-height: 1.3;
  min-width: 280px;
  color: var(--title-color);
  margin-bottom: 10px;
}

.hero__text {
  margin-bottom: 5px;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.6;
  color: var(--primary-text-color);
}

.hero__text {
  color: var(--title-color);
  &--accent {
    color: var(--accent-color);
  }
}

.hero__button {
  display: block;
  width: 260px;
  height: 48px;
  margin-bottom: 52px;
  margin-top: 52px;

  margin-left: auto;
  margin-right: auto;
  padding-top: 14px;
  padding-bottom: 14px;
  background-color: var(--accent-color);
  color: var(--primary-bg-color);
  border: none;
}
.hero__image {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}
