.how-we {
  display: flex;
  padding-top: 50px;
  padding-bottom: 50px;

  @include mq(tablet) {
    padding-top: 50px;
  }

  @include mq(desktop) {
    padding-top: 130px;
    padding-bottom: 130px;
  }
}

.how-we__tittle {
  margin-bottom: 30px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 1.3;

  text-align: center;
  letter-spacing: 0.03em;

  color: #111518;

  @include mq(tablet) {
    font-size: 26px;
    line-height: 1.3;
  }

  @include mq(desktop) {
    font-size: 46px;
    line-height: 1.3;
    text-align: start;
    width: 866px;
    height: 57px;
    margin: 0 5px 50px;
  }
}

.how-we__list {
  list-style: none;
  margin: 0;
  padding: 0;

  @include mq(tablet) {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 20px;
  }

  @include mq(desktop) {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 30px;
  }
}

.how-we__item {
  width: 280px;
  height: 280px;
  text-align: center;
  background-color: var(--second-color);
  box-shadow: 4px 6.928px 23.68px 8.32px rgb(29 29 27 / 11%);
  padding: 30px 15px;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:not(:last-child) {
    margin-bottom: 16px;
  }

  &:last-child {
    margin-bottom: 0px;
  }
  &:hover,
  &:focus {
    background-color: #ff6b09;
  }

  @include mq(tablet) {
    width: 310px;
    height: 310px;
    padding-top: 40px;
  }

  @include mq(desktop) {
    width: 400px;
    height: 380px;
    padding-top: 40px;
  }

  &:hover,
  &:focus {
    background-color: #ff6b09;
    color: white;
  }
  &:hover .how-we__icon,
  &:focus .how-we__icon {
    fill: white;
  }
  &:hover .how-we__text,
  &:focus .how-we__text {
    color: white;
  }

  &:hover .how-we__cards-tittle,
  &:focus .how-we__cards-tittle {
    color: white;
  }
}

.how-we__icon {
  width: 74px;
  height: 60px;
  background-repeat: no-repeat;
  background-position: center;
  fill: #ff6b09;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.how-we__cards-tittle {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.42;

  text-align: center;
  letter-spacing: 0.08em;
  margin: 20px 0 30px;
  width: 100%;
  height: 40px;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  color: #111518;

  @include mq(tablet) {
    font-size: 20px;
    line-height: 1.4;
  }

  @include mq(desktop) {
    height: 54px;
  }
}

.how-we__text {
  width: 100%;
  position: relative;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.67;

  text-align: center;
  letter-spacing: 0.08em;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  color: #b9b9b9;

  @include mq(tablet) {
  }

  @include mq(desktop) {
    font-size: 18px;
    line-height: 1.55;
  }
}

.how-we__text::before {
  margin: 15px auto 15px;
  display: block;
  content: '';
  border: 1px solid #ff6b09;
  width: 25px;
  height: 2px;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  .how-we__item:hover &,
  .how-we__item:focus & {
    border-color: white;
  }
}
