.back-drop {
  position: fixed;
  z-index: 20;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  perspective: 1400px;
  overflow-y: scroll;
  &.is-hidden {
    opacity: 0;
    pointer-events: none;
  }
}

.modal {
  width: 100%;
  max-width: 450px;
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 40px;
  background-color: var(--primary-background-color);
  transform: translateX(-50%) translateY(-50%) translateZ(0);
  /* opacity: 1; */
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: opacity 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94),
    transform 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94);

  // @media screen and(max-width:479px) {
  //   transform: translateX(-50%) translateY(-40%) translateZ(0);
  // }

  @media screen and(min-width:1200px) {
    max-width: 528px;
  }
}

.back-drop.is-hidden .modal {
  transform: translateX(-50%) translateY(-50%) translateZ(-1400px);
  opacity: 0;
}

.modal__close-btn {
  position: absolute;
  top: 8px;
  right: 8px;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: var(--primary-bg-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
  &:hover,
  &:focus {
    color: var(--accent-color);
    background-color: var(--primary-bg-t-color);
  }
}

.modal__close-icon {
  fill: currentColor;
}

.modal-form__title {
  display: block;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);

  @media screen and(min-width:1200px) {
    font-size: 20px;
    line-height: 1.15;
  }
}

.form-area {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.modal-form__label {
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--primary-text-color);
}

.modal-form__input {
  position: relative;
  width: 100%;
  padding: 11px;
  padding-left: 35px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  outline: none;
  /* background-color:transparent; */
  cursor: pointer;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:focus {
    border: 1px solid var(--accent-color);
  }
}

.modal-form__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__input:focus ~ .modal-form__icon {
  fill: var(--accent-color);
}

.modal-comments__field {
  display: block;
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  margin-bottom: 20px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
  resize: none;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:focus {
    border: 1px solid var(--accent-color);
  }

  &::placeholder {
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
  }
}

.modal__agreement-label {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);

  @media screen and (min-width: 1200px) {
    font-size: 14px;
    line-height: 1.71;
  }
}

.modal__customized-checkbox {
  display: block;
  margin-right: 7px;
  width: 16px;
  height: 15px;
  border: 2px solid black;
  border-radius: 2px;

  //   background-image: url(../images/icons/check.svg);
  background-size: contain;
  background-origin: border-box;

  transition: background-image 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__checkbox:checked + .modal__customized-checkbox {
  border-color: var(--accent-color);
  background-color: var(--accent-color);
}

.modal-form__agreement-link {
  color: var(--accent-color);
  text-decoration: underline;
  text-underline-position: under;
}

.modal-form__btn {
  display: block;
  margin: 0 auto;
  padding: 10px 55px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  background-color: var(--accent-color);
  color: var(--primary-background-color);
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover {
    background-color: var(--accent-color);
  }
}
