.program {
  position: relative;
  background-color: #111518;
  padding-top: 50px;
  @include mq(tablet) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
.program-title {
  display: block;
  margin-left: 20px;
  margin-bottom: 43px;
  font-weight: 800;
  font-size: 26px;
  line-height: 1.3;
  letter-spacing: 0.03em;
  color: var(--title-color-black);
  @include mq(tablet) {
    margin-left: 40px;
  }
}

.program-box {
  position: relative;
  padding-left: 94px;
}
.program-box__item {
  position: relative;
  margin-bottom: 5px;
  padding-left: 26px;
}
.program-box-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 2;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: var(--title-color-black);
}
.program-box__item::before {
  content: '';
  position: absolute;
  left: -25px;
  top: 8px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: var(--accent-color);
}
.program-box::before {
  content: '';
  position: absolute;
  left: 74px;
  top: 14px;
  height: 92%;
  border: 1px solid #ffffff;
  @include mq(tablet) {
    height: 89%;
  }
}
.program-descr-title {
  font-weight: 700;
  font-size: 12px;
  line-height: 1.6;
  letter-spacing: 0.08em;
  color: var(--accent-color);
}
.program-descr__item--title {
  margin-bottom: 5px;
  position: relative;
  padding-left: 43px;
  &::before {
    content: '';
    position: absolute;
    display: block;
    top: 50%;
    left: 26px;
    width: 12px;
    height: 1px;
    background-color: var(--accent-color);
  }
}
.program-descr__item--text {
  padding-left: 26px;
  margin-bottom: 8px;
}

.program-descr-text {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.6;
  letter-spacing: 0.08em;
  color: var(--main-text-color);
  opacity: 0.5;
}
.program-box__collum {
  margin-bottom: 40px;
  @include mq(tablet) {
    display: flex;
  }
}

.reset {
  margin-bottom: 0;
}

.program-descr--lg {
  @include mq(tablet) {
    width: 176px;
    margin-right: 50px;
  }
}
.program-descr--md {
  @include mq(tablet) {
    width: 155px;
    margin-right: 50px;
  }
}
