.slider {
  position: relative;
  min-width: 0;
}

.slider-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 62px;
  margin-bottom: 50px;
  padding-left: 24px;
  padding-left: 24px;
  width: 280px;
  min-width: 0;
}

.slik-list {
  overflow: hidden;
}
.slik-track {
  display: flex;
}

.slider-thumb {
  display: inline;
  max-width: 54px;
  max-height: 54px;
  border-radius: 50%;
  outline: 1px solid red;
}

.slider-thumb:not(:first-child) {
  margin-left: 5px;
}

.slider-thumb:not(:last-child) {
  margin-right: 5px;
}

.slider .slider-for .slick-arrow {
  position: absolute;
  display: block;
  bottom: -23%;
  z-index: 20;
  background-color: transparent;
  font-size: 0;
  width: 27px;
  height: 16px;
}

.slider .slider-for .slick-prev {
  left: 0;
  background-image: url(../images/arrow_prev.svg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-size: contain;
}

.slider .slider-for .slick-next {
  right: 0;
  background-image: url(../images/arrow_next.svg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-size: contain;
}
