.slider {
}

.slider-for {
  margin-bottom: 30px;
  @include mq(desktop) {
    margin-bottom: 40px;
  }
}

.slider-nav {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;

  margin-left: auto;
  margin-right: auto;
  padding-left: 44px;
  padding-right: 44px;
  width: 280px;

  @include mq(tablet) {
    width: 100%;
  }
}
.slider .slik-slide {
  @include mq(tablet) {
    width: 54px;
    height: auto;
  }
}

.slik-list {
  max-width: 100%;
}
.slik-list .slick-track {
  @include mq(tablet) {
    width: 100%;
    height: auto;
  }
}

.slider .slider-thumb {
  display: block;
  width: 54px;
  height: auto;
  border-radius: 50%;

  margin-left: 5px;
  margin-right: 5px;

  @include mq(tablet) {
    margin-right: 15px;
    width: 54px;
    height: auto;
  }
}
// arrows styles
.slider .slick-arrow {
  position: absolute;
  display: block;
  top: 50%;
  transform: translateY(-50%);
  z-index: 20;
  background-color: transparent;
  font-size: 0;
  width: 27px;
  height: 16px;

  @include mq(tablet) {
    bottom: 50%;
  }
}

.slider .slick-prev {
  background-image: url(../images/arrow_prev.svg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-size: contain;
}

.slider .slick-next {
  background-image: url(../images/arrow_next.svg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-size: contain;
}

// arrows for mobile view
.slider .slider-nav .slick-prev {
  left: 0;
}

.slider .slider-nav .slick-next {
  right: 0;
}

//arrows for tablet view
.slider .slider-for .slick-prev {
  left: 0;
}

.slider .slider-for .slick-next {
  right: 0;
}

.slider-nav .slick-list {
  padding: 4px 0;
}

.slider-nav .slick-current {
  outline: 1px solid var(--accent-color);
}

.slider-nav .slick-disabled {
  filter: grayscale(1);
}
