// Logo
.footer__container {
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;

  @include mq(tablet) {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
  }

  @include mq(desktop) {
    justify-content: flex-start;
    display: flex;
    align-items: center;
    padding-top: 52px;
    padding-bottom: 53px;
  }
}

.footer__logo {
  margin-bottom: 21px;

  @include mq(tablet) {
    margin-bottom: 0px;
  }
}

.footer-logo__title {
  display: flex;
  align-items: center;
  font-weight: 800;
  font-size: 26px;
  line-height: 1.23;
  letter-spacing: 0.04em;
  color: var(--title-color);
}

.footer-logo__description {
  margin-left: 2px;
  margin-bottom: 3px;
  font-weight: 700;
  font-size: 8px;
  line-height: 1.25;
  letter-spacing: 0.18em;
  text-transform: uppercase;
  color: var(--title-color);
}

.footer-logo__description--accent {
  color: var(--accent-color);
}
.footer__contacts {
  @include mq(tablet) {
    display: flex;
    align-items: center;
    margin-left: auto;
  }

  @include mq(desktop) {
    margin-left: 290px;
  }
}

.footer-contact__link {
  display: flex;
  align-items: center;

  @include mq(tablet) {
    margin-right: 24px;
    border-right: 1px solid #b9b9b9;
  }
}

.footer__phone-icon {
  fill: var(--accent-color);
  margin-right: 10px;
  @include mq(desktop) {
    margin-right: 15px;
    width: 30px;
    height: 30px;
  }
}

.footer-contact__number {
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;

  letter-spacing: 0.08em;

  color: #111518;

  @include mq(tablet) {
    font-size: 20px;
    line-height: 1.2;

    margin-right: 24px;
  }

  @include mq(desktop) {
    font-size: 30px;
    line-height: 1.23;
  }
}

.footer-social__link {
  margin-top: 30px;
  display: inline-block;
  width: 40px;
  height: 40px;
  background-size: cover;
  background-image: url(../images/footer/instagram1_lg.png);

  @include mq(tablet) {
    margin-top: 0px;
  }

  @include mq(retina) {
    background-image: url(../images/footer/instagram1@2x_lg.png);
  }
}

.container__rights {
  background-color: var(--title-color);
  padding-bottom: 21px;
  padding-top: 21px;
}

.container__rights-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 2;

  display: flex;
  justify-content: center;
  color: #b9b9b9;

  @include mq(tablet) {
    display: block;
  }
}
